<head>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<script>
		/* FIXME: so many escapes, this should come from a separate file */
		const project_list = [
			{{ for project in projects }}
				"{ project.mnemonic }",
			{{ endfor }}
		];

		let domain = new URL(window.location);
		domain.username = "{ username | arg_escape }";

		window.onload = () => \{
			for (let mn of project_list) \{
				document.getElementById(`cmd-join-$\{mn}`).innerText = `git-hackme clone "$\{domain}/$\{mn}"`;
			}
		};
	</script>
</head>
<html>
	<main>
		<h1>Hackable Projects</h1>

		<h3>Brought by <div class="icon-github"><a href="{ repository | arg_escape }"></a></div></h3>
		<pre>cargo install --git "{repository}"</pre>

	{{ for project in projects }}
		<div style="border-style: solid">
			<a href="./{ project.mnemonic }">{ project.mnemonic }</a>
			<p><pre id=cmd-join-{project.mnemonic}>Join command requires Js</pre></p>
		</div>
	{{ endfor }}
	</main>
</html>
