:root \{
  color-scheme: light dark;
}

.icon-github \{
	background-image: url({ logo_github | base64_document });
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 2em;
	width: 2em;
	vertical-align: middle;
}

.icon-github > a \{
	height: 100%;
	display: block;
}

.git-hackme-project-join-link > pre::selection \{
	background: light-dark(lightgray, gray);
	color: light-dark(black, white);
}

.git-hackme-project-join-link > pre,button \{
	display: inline;
}
